<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Persianas Acebal</title>
</head>
<body>
    <header>
        {% comment %} <img src="{% static 'images/ciego3.jpg' %}" alt="logo"> {% endcomment %}
        <h1>
            <img src="{% static 'images/ciego3.jpg' %}" alt="logo">
            Persianas Acebal

        </h1>
    </header>
</body>
</html>